[submodule "packages/is-sorted"]
	path = packages/is-sorted
	url = git@github.com:dcousens/is-sorted.git
[submodule "packages/array-first"]
	path = packages/array-first
	url = git@github.com:cwy007/array-first.git
[submodule "packages/array-slice"]
	path = packages/array-slice
	url = git@github.com:jonschlinkert/array-slice.git
[submodule "packages/array-last"]
	path = packages/array-last
	url = git@github.com:jonschlinkert/array-last.git
[submodule "packages/arr-flatten"]
	path = packages/arr-flatten
	url = git@github.com:jonschlinkert/arr-flatten.git
